<% cache favorited_tweet.tweet do %>
  <%= render favorited_tweet.tweet %>
<% end %>
<% favorited_tweet.tweet.tags.each do |tag| %>
  <p>
    <%= link_to tag.title, tag_tweets_path(tag) %>
    <%= link_to 'del', tweet_tag_path(tweet_id: favorited_tweet.tweet.id, id: tag.id) , method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>
<% end %>
<%= form_for :tag, url: tweet_tags_path(tweet_id: favorited_tweet.tweet.id) do |f| %>
  <%= f.text_field :title %>
  <%= f.submit '+' %>
<% end %>
